@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

section {
  background-color:black;
 
  margin-top: 20px;
  opacity: 0.8;
}

.nav-link:hover {
  color: rgb(39, 243, 28);
}
.separador {
  height: 100px;
}
.home {
  background-image: url(../images/puente.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
  height: 100vh;
}

.about {
  background-image: url(../images/boreal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
  height: 100vh;
}

.services {
  background-image: url(../images/montañas.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
  height: 100vh;
}

.jobs {
  background-image: url(../images/ciudad.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
  height: 100vh;
}

.contact {
  height: 120vh;
}
.image-content figure {
  margin: 20px;
 
}

.image-content figure img{
 width: 300px;

 
}

.image-content   figcaption {
 
  color: white;
  font-size: 1.5rem;
}





.btn-send {
  color: black;
}

.btn-send:hover {
  background-color: blue;
  color: white;
}

.fa-solid {
  color: blue;
  margin-right: 15px;
}

.redes-sociales {
  margin: 10px;
  font-family: "roboto", arial, helvetica, sans-serif;
  font-size: 2rem;
}
.redes-sociales i {
  margin-right: 20px;
  color: blue;
  font-size: 5rem;
}

.redes-sociales i:hover {
  background-color: blue;
  color: white;
  font-size: 5rem;
}
.wave {
  opacity: 0.5;
}
.footer {
  margin-top: 40px;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .separador {
    height: 350px;
  }

  .accordion {
    min-width:200px ;
  }
  .carousel-item {
    height: 300px;
  }
  .home {
    height: 150vh;
  }

  .about {
    height: 150vh;
  }

  .services {
    height: 200vh;
  }

  .jobs {
    height: 200vh;
  }

  .contact {
    height: 200vh;
  }


  .image-content {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.7rem;
  }
}
